html,
body,
header,
#intro {
  height: 100%;
}

#intro {
    background: url("public/abstract.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.border-shadow {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

.worldartimage {
  height: 400px;
  width: 400px;
}

.link-color {
  color: black;
}
